.dialogsItem {

    text-decoration: none;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;

        img {
            width: 50px;
            display: inline-block;
            padding: 0;
            margin: 0;
        }
    
        p {
            display: inline-block;
            padding: 0;
            margin: 0;
            color: black;
            margin: 10px;
        }

    &:hover {
        background-color: cadetblue;
        cursor: pointer;
    }
}