.header {
    grid-area: h;
    background-color: #9e9e9e;
    color: white;
    box-shadow: 5px 5px 5px grey;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    & img {
      width: 50px;
    }

      a {
        margin-left: 10px;
        color: white;
        text-decoration: none;
      }

    .loginBlock:hover {
      cursor: pointer;
    }
}