.formControl {
    .inputError {
            border: red solid 2px;
    }
    .spanError {
        color: red;
        animation: changeColor 1s ease infinite;
    }

    @keyframes changeColor {
        0% {
            color: red;
        }

        50% {
            color: blue;
        }
    }
}
