* {
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-areas:
  "h h"
  "n c"
  "f f";
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
}